appnope==0.1.0
bashplotlib==0.6.5
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
html5lib==0.9999999
idna==2.6
jedi==0.11.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.2.1
numpy==1.13.3
olefile==0.44
pandocfilters==1.4.2
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.3.0
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.5.0.post1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
rake-nltk==1.0.1
regex==2017.9.23
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.7
testpath==0.3.1
torch==0.2.0.post3
torchvision==0.1.9
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.8
